[submodule "lib/modules/freetype"]
	path = lib/modules/freetype
	url = https://github.com/freetype/freetype.git
[submodule "lib/modules/SDL"]
	path = lib/modules/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib/modules/SDL_ttf"]
	path = lib/modules/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "lib/modules/glfw"]
	path = lib/modules/glfw
	url = https://github.com/glfw/glfw.git
